.infoBar {
  background: #1d1438;
  height: 50px;
  width: 100%;
  border-radius:5px;
}

.leftInnerContainer {
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
 
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

.LPbtnCoverOut{
  width: 100%;
  text-align:center;
}

.LPbtn1Out {        
  font-size: 15px;
  font-weight: 500;
  width : 100%;
  padding:7px;
  border-radius: 15px;
  color: white;
  background-color: #384987;
}
